@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden !important;
}

.brand-logo,
.myCard .card h2 {
  font-family: "Grand Hotel", cursive;
}

.brand-logo {
  margin-left: 20px;
}

.myCard {
  margin-top: 30px;
}

.auth-card {
  margin: 10px auto;
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.myCard .card .login-input:focus {
  border-bottom: 1px solid rgb(92, 146, 255) !important;
  box-shadow: 0 1px 0 0 rgb(92, 146, 255) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery .item {
  padding: 4px 10px 4px 4px;
  width: 30%;
}

.homeCard {
  margin: 26px auto;
  max-width: 500px;
  height: max-content;
}

.toast-err {
  background-color: #f44336;
  color: #fee;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.toast-success {
  background-color: #4caf50;
  color: #fee;
  font-size: 20px;
  letter-spacing: 1.5px;
}
